.cache/
obj/
obj_test/
bin/
lib/
compile_commands.json
hdd.bin
sram.bin
*.expected_output
*.output
*.error
*.cast
test_results
*.pdf
source_debug_assignment/simple_assignment.debuginfo
source_debug_assignment/simple_assignment.reti
