.cache/
obj/
obj_test/
bin/
lib/
compile_commands.json
hdd.bin
sram.bin
.reti_emulaor/
*.expected_output
*.output
*.error
*.cast
test_results
*.pdf
source_debug_assignment/simple_assignment.debuginfo
source_debug_assignment/simple_assignment.reti
.bak/Makefile.bak
.bak/run_sys_tests.sh.bak
.bak/todo.norg
.bak/sections/simple_interrupt_sections.reti
.bak/sections/simple_interrupt_sections.sections
.bak/source_debug_assignment/simple_assignment.debuginfo
.bak/source_debug_assignment/simple_assignment.picoc
.bak/source_debug_assignment/simple_assignment.reti
.bak/run_sys_tests
